[submodule "pack/mbp-plugins/start/jellybeans.vim"]
	path = pack/mbp-plugins/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "pack/mbp-plugins/start/vim-toml"]
	path = pack/mbp-plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "pack/mbp-plugins/start/rust.vim"]
	path = pack/mbp-plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/mbp-plugins/start/matchit"]
	path = pack/mbp-plugins/start/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "pack/mbp-plugins/start/syntastic"]
	path = pack/mbp-plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/mbp-plugins/start/vim-fish"]
	path = pack/mbp-plugins/start/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule "pack/mbp-plugins/start/vim-fugitive"]
	path = pack/mbp-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/mbp-plugins/start/vim-sensible"]
	path = pack/mbp-plugins/start/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
